<div class="interactive-wrapper">

	<div class="interactive-container">

		<div class="main-block">

			<div class="headline-wrapper">

				<h1 class="seo-headline">Australian by-election results 2018 - live</h1>
				<span class="header-tag">Australian by-elections 2018</span>

				<div class="header-headline">Australian by-election results 2018 - in full</div>

				<div class="standfirst">
					<p>Five electorates are up for grabs in this year’s by-elections, the first major test of public opinion since the 2016 election.</p>
				</div>

				<div class="sidebar sidebar--count">

					<!--div class="sidebar__text">
						0 electorates declared
					</div-->

					<p class="share-buttons">
						<button class="interactive-share" data-network="facebook"></button> 
						<button class="interactive-share" data-network="twitter"></button> 
						<button class="interactive-share" data-network="email"></button>
					</p>

				</div>

			</div>

			<div class="circle">

				<img src="https://interactive.guim.co.uk/2018/06/australian-byelection/images/1000.jpg"> 
				<img src="https://interactive.guim.co.uk/2018/06/australian-byelection/images/2000.jpg"> 
				<img src="https://interactive.guim.co.uk/2018/06/australian-byelection/images/3000.jpg">

			</div>

			<div id="electoral_overview" class="le-table">

				<div class="line"></div>

				<h2>Overview</h2>

				<div class="le-table-wrapper">

					<h3 class="electoral_headline">Predicted results</h3>

					<div id="election_results_table" class="column_wrapper"></div>

					<h3 class="electoral_headline">Change nationally</h3>

					<strong class="red_swallow">pre-byelections</strong>

					<div id="election"></div>

					<strong class="red_swallow">post-byelections</strong>

					<div id="byelection"></div>

				</div>

			</div>

			<div id="electorate_container"></div>

		</div>

	</div>

</div>